	<!-- FOOTER -->
	<footer class="mainfooter">
		<div class="container">
			<div class="text-center py-4 row">
				<div class="col">
					<a href="https://www.facebook.com/hahahalatado/"><i class="fab fa-facebook-f fa-lg"></i></a>
				</div>
				<div class="col">
					<a href="https://www.youtube.com/channel/UCQhfkcqH3_9t-DItavYGtqw?feature=emb_ch_name_ex"><i class="fab fa-youtube fa-lg"></i></a>
				</div>
				<div class="col">
					<a href="https://soundcloud.com/melodynity"><i class="fab fa-soundcloud fa-lg"></i></a>
				</div>
			</div>

		</div>
		<div class="footercr py-2">
			<p class="ml-2 my-auto text-center">&copy;2021 Copyright: <a href="/">Melodynity.com</a></p>
		</div>
	</footer>
	<!-- FOOTER -->



	<!-- JS, Popper.js, jQuery, and FontAwesome -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/ad98de5722.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="/mainscript.js"></script>
	
</body>
</html>