<%- include("./partials/header") %>

	<!-- NAV BAR -->
	<nav class="navbar navbar-expand-lg navbar-light" id="navbarcolor">
	<a href="/"><img id="navbarlogo" class="m-2" src="/pics/melodynitylogo.png" alt="MelodynityLogo"></a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="m-2 collapse navbar-collapse" id="navbarSupportedContent">
		<ul class="navbar-nav mr-auto">
		<li class="nav-item col">
			<a class="nav-link font-weight-bold" href="/" alt="Home">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item active col">
			<a class="nav-link font-weight-bold disabled" href="#" alt="About">About</a>
		</li>
		<li class="nav-item dropdown col">
			<a class="nav-link dropdown-toggle font-weight-bold" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" alt="StreamNowButton">
			Stream Now!
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<a class="dropdown-item" href="https://soundcloud.com/melodynity" alt="Soundcloud">Soundcloud</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="#" alt="Spotify">Spotify</a>
			<div class="dropdown-divider"></div>
			<a class="dropdown-item" href="https://www.youtube.com/channel/UCQhfkcqH3_9t-DItavYGtqw" alt="Youtube">Youtube</a>
			</div>
		</li>
		</ul>
	</ul>
	<ul class="navbar-nav ml-auto">
		<li class="nav-item col">
			<a class="nav-link font-weight-bold disabled" href="/game">Placeholder <span class="sr-only">(current)</span></a>
		</li>
	</ul>
	</div>
	</nav>
	<!-- NAV BAR -->

	<!-- MAIN PAGE -->
	<div class="container py-5">
		
		<div class="row">
			<div class="col-lg-6">
				<h1 class="pb-4">Welcome to Melodynity!</h1>
				<div class="mx-2 text-right">
					<p class="hometxt text-justify">
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Hic dolore delectus natus tempore, ex enim, doloremque eveniet iste maiores nesciunt nisi, quas expedita. Molestiae explicabo unde harum, expedita dicta magnam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cupiditate fugiat natus aliquam consectetur qui officiis voluptate possimus, ab error sed illo. Harum!
					</p>
				</div>
			</div>
			<div class="col-lg-6">
			</div>
		</div>


		<div class="row">
			<div class="col-lg"></div>
			<div class="col-lg-6">
				<h1 class="text-right py-4">Discover New Things!</h1>
				<div class="mx-2">
					<p class="hometxt text-justify ">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi ducimus ut, distinctio earum perferendis qui error vel cupiditate reprehenderit sapiente ad laudantium quia! Ipsa, quam, fugiat explicabo ex necessitatibus accusamus aperiam labore consectetur sed repudiandae exercitationem! Officiis voluptas autem repellat cum similique atque, doloribus iure cumque at, nam hic obcaecati.
					</p>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-lg">
				<h1 class="py-4">Support Local Users!</h1>
				<div class="mx-2 text-right">
					<p class="hometxt text-justify">
						Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae ab error ea quas quam repellat, exercitationem reprehenderit vitae voluptatem? Consequuntur nemo maxime sunt. Ducimus ratione, veniam non repudiandae inventore quas, nostrum adipisci architecto blanditiis suscipit recusandae alias doloribus fugit nihil quibusdam quaerat molestias exercitationem! Aut eius sequi maxime quas eveniet veniam tempore cupiditate ut officiis nostrum possimus quaerat inventore quisquam esse architecto voluptates, non quis! Consequatur minima voluptate porro aperiam.
					</p>

				</div>
			</div>
			<div class="col-lg"></div>
		</div>
	</div>
	<!-- MAIN PAGE -->

<%- include("./partials/footer") %>